<!--/* Header Component for Example Site */-->

<header class="example-header">
<div class="container">
    <a class="example-header-logo" href="${properties.rootPath || currentStyle.rootPath @ extension='html'}">Electric</a>
    <div class="cmp-search--header" data-sly-resource="${'search' @ resourceType='example/components/structure/search'}"></div>
    <div class="cmp-navigation--header" id="header-navbar" data-sly-resource="${'navigation' @ resourceType='example/components/structure/navigation'}"></div>
</div>
</header>